## import necessary libraries

In [150]:
import numpy as np
import pandas as pd

## load dataset

In [151]:
df = pd.read_csv('chipotle', sep='\t')

## See the first 10 entries

In [152]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## dataset dimentions

In [153]:
df.shape
## 4622 data points and 5 features

(4622, 5)

## feature names

In [154]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

## dataset index

In [155]:
df.index

RangeIndex(start=0, stop=4622, step=1)

## most ordered item?

In [156]:
x = df.groupby(["item_name"]).sum()
x = x.sort_values(["quantity"],ascending=False)
print(x)
x.head(1)

                                       order_id  quantity
item_name
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chips and Guacamole                      449959       506
Steak Burrito                            328437       386
Canned Soft Drink                        304753       351
Chips                                    208004       230
Steak Bowl                               193752       221
Bottled Water                            175944       211
Chips and Fresh Tomato Salsa             100419       130
Canned Soda                               76396       126
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Side of Chips                             84769       110
Veggie Burrito                            80962        97
Barbacoa Burrito                          74718        91
Veggie Bowl                               72270        87
Carnitas Bowl                             62742        71
Barbacoa Bowl                             53972        66
Carnitas Burrito                          51652        60
Steak Soft Tacos                          50177        56
6 Pack Soft Drink                         52322        55
Chips and Tomatillo Red Chili Salsa       45556        50
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Green Chili Salsa     41170        45
Carnitas Soft Tacos                       37673        40
Steak Crispy Tacos                        35818        36
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Salad Bowl                          29590        31
Nantucket Nectar                          21814        29
Chips and Tomatillo-Red Chili Salsa       18344        25
Barbacoa Soft Tacos                       18725        25
Chips and Roasted Chili Corn Salsa        14999        23
Izze                                      10587        20
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Chicken Salad                             10465         9
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Burrito                                    1550         6
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Bowl                                        472         4
Steak Salad                                2362         4
Salad                                      1150         2
Crispy Tacos                                434         2
Chips and Mild Fresh Tomato Salsa           279         1
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1

              order_id  quantity
item_name
Chicken Bowl    713926       761

## For the most-ordered item, how many items were ordered?

In [157]:
x = df.groupby(['item_name']).sum().sort_values(['quantity'], ascending=False)
x.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

## What was the most ordered item in the choice_description column?

In [158]:
x = df.groupby(["choice_description"]).sum().sort_values(["quantity"], ascending=False)
x.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

## How many items were orderd in total?

In [159]:
df["quantity"].sum()

4972

## Turn the item price into a float

In [160]:
df["item_price"].dtype

dtype('O')

In [161]:
df["item_price"] = df["item_price"].map(lambda x: float(x[1:-1]))
df["item_price"].dtype

dtype('float64')

## How much was the revenue for the period in the dataset?

In [165]:

revenue = (df['quantity'] * df['item_price']).sum()
print("Revenue is $"+ str(revenue))

Revenue is $39237.02

## total orders made

In [169]:
df["order_id"].value_counts().count()

1834

## What is the average revenue amount per order?

In [186]:
df["revenue"] = df['quantity'] * df['item_price']
x = df.groupby(["order_id"]).sum()
x["revenue"].mean()
#(x["quantity"]*x["item_price"]).mean()

21.394231188658654

## How many different items are sold?

In [192]:
df["item_name"].value_counts().count()

50