In [1]:
import pandas as pd

In [20]:
url = 'https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv'
df = pd.read_csv(url)
df.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

# check how much data we have

In [21]:
df.shape

(44, 9)

## Set the column Date as the index.

In [22]:
df = df.set_index('Date')

In [23]:
df.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

## What is the type of the index?

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, 2012-12-05 to 2015-04-08
Data columns (total 8 columns):
Total Equity       44 non-null int64
Domestic Equity    44 non-null int64
World Equity       44 non-null int64
Hybrid             44 non-null int64
Total Bond         44 non-null int64
Taxable Bond       44 non-null int64
Municipal Bond     44 non-null int64
Total              44 non-null int64
dtypes: int64(8)
memory usage: 3.1+ KB

## Change date to datetime64

In [29]:
df.index = pd.to_datetime(df.index)

In [30]:
df.index

DatetimeIndex(['2012-12-05', '2012-12-12', '2012-12-19', '2012-12-26',
               '2013-01-02', '2013-01-09', '2014-04-02', '2014-04-09',
               '2014-04-16', '2014-04-23', '2014-04-30', '2014-05-07',
               '2014-05-14', '2014-05-21', '2014-05-28', '2014-06-04',
               '2014-06-11', '2014-06-18', '2014-06-25', '2014-07-02',
               '2014-07-09', '2014-07-30', '2014-08-06', '2014-08-13',
               '2014-08-20', '2014-08-27', '2014-09-03', '2014-09-10',
               '2014-11-05', '2014-11-12', '2014-11-19', '2014-11-25',
               '2015-01-07', '2015-01-14', '2015-01-21', '2015-01-28',
               '2015-02-04', '2015-02-11', '2015-03-04', '2015-03-11',
               '2015-03-18', '2015-03-25', '2015-04-01', '2015-04-08'],
              dtype='datetime64[ns]', name='Date', freq=None)

## check for null

In [33]:
df.isnull().sum()

Total Equity       0
Domestic Equity    0
World Equity       0
Hybrid             0
Total Bond         0
Taxable Bond       0
Municipal Bond     0
Total              0
dtype: int64