In [2]:
import pandas as pd
import numpy as np

In [3]:
titanic = pd.read_csv('titanic.csv')
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [4]:
type(titanic['age'])

pandas.core.series.Series

In [5]:
age=titanic['age']

### info() does not work with Series

In [6]:

age.info()

AttributeError: 'Series' object has no attribute 'info'

In [ ]:
age.to_frame().info()

In [ ]:
age.describe()

In [ ]:
# Count of Non-Null values
age.count()

In [ ]:
# Count with missing values.
age.size

In [ ]:
# skipna=True
age.sum()

In [ ]:
# Does not know how to handle null values.
sum(age)

In [ ]:
age.unique()

In [ ]:
len(age.unique())

In [ ]:
# skip NA values
age.nunique()

In [ ]:
age.nunique(dropna=False)

In [ ]:
age.value_counts()

In [ ]:
 len(age.index)

In [ ]:
# gives %, null value is excluded
age.value_counts(normalize=True)*100

In [ ]:
# % with NA
age.value_counts(normalize=True, dropna=False)*100

In [ ]:
# Normal way to calculate %
age.value_counts()/len(age.index)*100

In [ ]:
# bins
age.value_counts(bins=5)

In [ ]:
age.value_counts(bins=5, normalize=True)

# Analyzing non-numerical series

In [ ]:
summer = pd.read_csv('summer.csv')

In [ ]:
summer.head()

In [ ]:
athlete = summer['Athlete']

In [ ]:
athlete.unique()

In [ ]:
athlete.nunique()

## Creating pandas series

In [ ]:
pd.Series([10,40,30,60])

In [ ]:
pd.Series([10,40,30,60], index=['Mon', 'Tue','Wed','Thu'])

In [ ]:
pd.Series([10,40,30,60], index=['Mon', 'Tue','Wed','Thu'], name='Sales')

## From numpy array

In [ ]:
sales = np.array([56,43,78,65])

In [ ]:
pd.Series(sales)

## From List

In [ ]:
sales = [34,56,76,343]

In [ ]:
pd.Series(sales)

## From dictionary

In [ ]:
dic = {'Mon':23, 'Tue':64,'Wed':65}

In [ ]:
pd.Series(dic)

In [ ]:
summer.head()

# Sorting and introduction to inplace-parameter

In [ ]:
dict = {1:10, 3:25, 2:6, 4:36,5:2,6:0,7:None}

In [ ]:
sales = pd.Series(dict)

In [ ]:
sales

In [ ]:
sales.sort_index()

In [ ]:
sales.sort_index(inplace=True)

In [ ]:
sales

## nlargest() and nsmallest()

In [ ]:
age = titanic.age
age.head()

In [ ]:
age.nlargest()

In [ ]:
age.nsmallest()

## idxmin() and idxmax()

Returns index of min or max

In [ ]:
age.idxmax()

In [ ]:
age.idxmin()

In [ ]:
# find information of oldest passenger

titanic.loc[titanic.age.idxmax()]

In [ ]:
titanic.age.sort_values().index[0]

## Change row index labels

In [9]:
summer = pd.read_csv('summer.csv')
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [11]:
#Check index
summer.index

RangeIndex(start=0, stop=31165, step=1)

In [14]:
# change index
summer.set_index('Athlete')

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [16]:
# Reset index
summer.reset_index()

,index,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...,...
31160,31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [17]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

## Column labels

In [21]:
titanic.columns.tolist()

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'deck']

In [26]:
# Columns are mutable
titanic.columns[0]
titanic.columns[0]='Alive'

TypeError: Index does not support mutable operations

In [24]:
titanic.columns=['Alive', 'pclass','sex','age','sibsp','parch','fare','embarked','deck']

In [25]:
titanic.columns.tolist()

['Alive', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'deck']

### Changing column name using rename()

In [30]:
titanic.columns

Index(['Alive', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked',
       'deck'],
      dtype='object')

In [32]:
titanic.rename(columns = {"Alive": "Survived"}, inplace=True)

In [33]:
titanic.columns

Index(['Survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck'],
      dtype='object')